body{
    background-color: blue;
    color:darkmagenta;
}

div{
background-color: red;
color:cyan;

}

h1{
    color:burlywood;
}
/* проверка*/
h2{
    color: darkturquoise; font:100;
}

span{
color:white; font:150;
}

